aside.sidebar{
    position: fixed;
    width: 110px;
    height: 100%;
    padding: 32px 24px;
    background: #15c3d6;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

aside.sidebar > img{
    width: 64px;
    max-width: 64px;
    height: auto;
}

aside.sidebar footer button{
    width: 48px;
    height: 48px;
    border: none;
    background: #ffd666;
    border-radius: 1.6rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

aside.sidebar footer button:hover{
    background: #96feff;
}

aside.sidebar footer button img{
    width: 2rem;
    height: 2rem;
    margin: 0;
    padding: 0;
    display: block;
    object-fit: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.with-sidebar{
    padding-left: 110px;
}